<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Expertisecentrum Taal- en Communicatiestoornissen: {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
<link rel="stylesheet" type="text/css" href="/default.css" media="screen" />

<body>

<div id="content">
<div id="header">
<h1>D&ouml;rte Hessler</h1>
<h2>{{ page.title }}</h2>
</div>
{% include menu.html %}

<div class="right">
{{ content }}
</div>



<div style="clear: both;"> </div>

<div id="footer">
&copy; Copyright by ETC. All rights reserved. Hosted by <a href="http://github.com">Github</a>. Design by <a href="http://www.coolwebtemplates.net/">Cool Webtemplates</a></div>

</div>

</body>
</html>