<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://www.coolwebtemplates.net
Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Expertisecentrum Taal- en Communicatiestoornissen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html"><span>ETC</span></a><small>Expertisecentrum Taal- en Communicatiestoornissen, Rijksuniversiteit Groningen</small></h1>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        {% include menu.html %}
        
      </div>
      <div class="clr"></div> 
    </div>
  </div>
  <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <h2>{{page.title}}</h2>
      <div class="mainbar">
        
        <div class="article">
          {{content}}
        </div>   
         <div class="clr"></div>     
      </div>      
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="footer">
         <p class="lr"> © Copyright <a href="#">Expertisecentrum Taal- en Communicatiestoornissen</a></p>
        
  </div>
</div>
</body>
</html>